body {
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(160, 182, 204);
    padding: 1rem;
  }
  .grid > div {
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
    border: 1rem, solid Black;
    
}
.winning-cell {
  background-color: rgb(0, 255, 0);
  font-weight: bold;
}
.restart{
  background-color: transparent;
}

/*valmis*/