body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #31a831;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid royalblue;
}

.logo {
    height: 8rem;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    display: inline;
    margin-left: 20px;
}

main {
    padding: 20px;
}

.article {
    display: flex;
    margin-bottom: 20px;
  
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

h2 {
    margin-top: 0;
}

.image-placeholder {
    flex: 1;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: flex-end; 
   
}





footer {
    padding: 20px;
    border-top: 2px solid royalblue;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: wavy;
    color: royalblue;
}
